// table
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

//   check_box
.customcheck  {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
.customcheck  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
 
  .customcheck .checkmark {
    position: absolute;
    top: -12px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }
  
 
  .customcheck:hover input ~ .checkmark {
    background-color: #ccc;
  }
 
  .customcheck  input:checked ~ .checkmark {
    background-color: #444;
  } 
  .customcheck .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
   
  .customcheck  input:checked ~ .checkmark:after {
    display: block;
  }
  
   
  .customcheck  .checkmark:after {
    left: 7px;
    top: 3px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}






