<div data-toggle="collapse" data-target=".casino" class="sidebar-title" aria-expanded="true">
  <h5 class="d-inline-block m-b-0">Recing Sports</h5>
</div>
<!-- <nav class="casino sidebarmenus collapse show">
  <ul>
    <li class="nav-item" ><a href="javascript:void(0)" class="nav-link"><span>Horse
          Recing</span></a></li>
    <li class="nav-item" ><a href="javascript:void(0)" class="nav-link"><span>Greyhound
          Racing</span></a></li>
  </ul>
</nav> -->

<div class="nav-item dropdown racing-sport">
  <a id="horse-dropdown" role="button" class="dropdown-toggle nav-link a-nav-item" tabindex="0" #horseDropdown>
    Horse Racing
  </a>

  <div class="dropdown-menu" aria-labelledby="horse-dropdown" #horseMenu>
    <h5>All Horse Racing</h5>
    <div class="horse-list-box">
      <a class="dropdown-item">
        <p>14:38&nbsp;Mildura (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>14:48&nbsp;Young (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>14:55&nbsp;Shepparton (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>15:02&nbsp;Gloucester Park (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>15:12&nbsp;Mildura (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>15:21&nbsp;Lyon-Parilly (FR)</p>
      </a>
      <a class="dropdown-item">
        <p>15:22&nbsp;Young (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>15:29&nbsp;Shepparton (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>15:36&nbsp;Gloucester Park (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>15:46&nbsp;Mildura (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>15:53&nbsp;Lyon-Parilly (FR)</p>
      </a>
      <a class="dropdown-item">
        <p>15:56&nbsp;Young (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>16:00&nbsp;Greyville (ZA)</p>
      </a>
      <a class="dropdown-item">
        <p>16:03&nbsp;Shepparton (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>16:10&nbsp;Gloucester Park (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>16:20&nbsp;Mildura (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>16:25&nbsp;Lyon-Parilly (FR)</p>
      </a>
      <a class="dropdown-item">
        <p>16:30&nbsp;Young (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>16:35&nbsp;Greyville (ZA)</p>
      </a>
      <a class="dropdown-item">
        <p>16:37&nbsp;Shepparton (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>16:47&nbsp;Gloucester Park (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>16:57&nbsp;Lyon-Parilly (FR)</p>
      </a>
      <a class="dropdown-item">
        <p>16:57&nbsp;Mildura (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>17:07&nbsp;Shepparton (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>17:10&nbsp;Greyville (ZA)</p>
      </a>
      <a class="dropdown-item">
        <p>17:17&nbsp;Gloucester Park (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>17:25&nbsp;Auteuil (FR)</p>
      </a>
      <a class="dropdown-item">
        <p>17:42&nbsp;Lyon-Parilly (FR)</p>
      </a>
      <a class="dropdown-item">
        <p>17:45&nbsp;Greyville (ZA)</p>
      </a>
      <a class="dropdown-item">
        <p>17:47&nbsp;Gloucester Park (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>18:00&nbsp;Auteuil (FR)</p>
      </a>
      <a class="dropdown-item">
        <p>18:17&nbsp;Lyon-Parilly (FR)</p>
      </a>
      <a class="dropdown-item">
        <p>18:20&nbsp;Greyville (ZA)</p>
      </a>
      <a class="dropdown-item">
        <p>18:30&nbsp;Leicester (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>18:35&nbsp;Auteuil (FR)</p>
      </a>
      <a class="dropdown-item">
        <p>18:45&nbsp;Brighton (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>18:50&nbsp;Galway (IE)</p>
      </a>
      <a class="dropdown-item">
        <p>18:52&nbsp;Lyon-Parilly (FR)</p>
      </a>
      <a class="dropdown-item">
        <p>18:55&nbsp;Greyville (ZA)</p>
      </a>
      <a class="dropdown-item">
        <p>19:00&nbsp;Leicester (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>19:07&nbsp;Huntingdon (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>19:10&nbsp;Auteuil (FR)</p>
      </a>
      <a class="dropdown-item">
        <p>19:15&nbsp;Brighton (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>19:20&nbsp;Galway (IE)</p>
      </a>
      <a class="dropdown-item">
        <p>19:27&nbsp;Lyon-Parilly (FR)</p>
      </a>
      <a class="dropdown-item">
        <p>19:30&nbsp;Leicester (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>19:35&nbsp;Greyville (ZA)</p>
      </a>
      <a class="dropdown-item">
        <p>19:37&nbsp;Huntingdon (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>19:45&nbsp;Auteuil (FR)</p>
      </a>
      <a class="dropdown-item">
        <p>19:45&nbsp;Brighton (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>19:50&nbsp;Galway (IE)</p>
      </a>
      <a class="dropdown-item">
        <p>20:00&nbsp;Leicester (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>20:07&nbsp;Huntingdon (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>20:10&nbsp;Greyville (ZA)</p>
      </a>
      <a class="dropdown-item">
        <p>20:15&nbsp;Brighton (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>20:20&nbsp;Galway (IE)</p>
      </a>
      <a class="dropdown-item">
        <p>20:20&nbsp;Auteuil (FR)</p>
      </a>
      <a class="dropdown-item">
        <p>20:30&nbsp;Leicester (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>20:37&nbsp;Huntingdon (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>20:45&nbsp;Brighton (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>20:50&nbsp;Galway (IE)</p>
      </a>
      <a class="dropdown-item">
        <p>20:55&nbsp;Auteuil (FR)</p>
      </a>
      <a class="dropdown-item">
        <p>21:00&nbsp;Leicester (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>21:07&nbsp;Huntingdon (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>21:15&nbsp;Brighton (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>21:20&nbsp;Galway (IE)</p>
      </a>
      <a class="dropdown-item">
        <p>21:27&nbsp;Southwell (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>21:30&nbsp;Auteuil (FR)</p>
      </a>
      <a class="dropdown-item">
        <p>21:32&nbsp;Leicester (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>21:37&nbsp;Huntingdon (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>21:45&nbsp;Brighton (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>21:50&nbsp;Galway (IE)</p>
      </a>
      <a class="dropdown-item">
        <p>21:58&nbsp;Southwell (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>22:05&nbsp;Leicester (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>22:30&nbsp;Southwell (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>23:00&nbsp;Southwell (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>23:30&nbsp;Southwell (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>00:00&nbsp;Southwell (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>00:00&nbsp;TEST (IN)</p>
      </a>

    </div>
  </div>
</div>
<div class="nav-item dropdown racing-sport">
  <a id="horse-dropdown" role="button" class="dropdown-toggle nav-link a-nav-item" tabindex="0" #greyhounDropdown>
    Greyhound
    Racing
  </a>

  <div class="dropdown-menu" aria-labelledby="horse-dropdown" #greyhoundMenu>
    <h5>All Greyhound
      Racing</h5>
    <div class="horse-list-box">
      <a class="dropdown-item">
        <p>01:01&nbsp;Central Park (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>01:06&nbsp;Sunderland (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>17:21&nbsp;Newcastle (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>17:22&nbsp;Mandurah (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>17:25&nbsp;Townsville (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>17:28&nbsp;Gosford (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>17:29&nbsp;Sheffield (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>17:33&nbsp;Towcester (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>17:37&nbsp;Mandurah (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>17:38&nbsp;Newcastle (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>17:40&nbsp;Townsville (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>17:47&nbsp;Sheffield (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>17:49&nbsp;Towcester (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>17:55&nbsp;Mandurah (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>17:56&nbsp;Newcastle (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>17:58&nbsp;Townsville (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>18:03&nbsp;Sheffield (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>18:07&nbsp;Towcester (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>18:12&nbsp;Mandurah (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>18:12&nbsp;Newcastle (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>18:21&nbsp;Sheffield (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>18:24&nbsp;Towcester (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>18:27&nbsp;Mandurah (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>18:29&nbsp;Newcastle (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>18:37&nbsp;Sheffield (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>18:41&nbsp;Towcester (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>18:42&nbsp;Mandurah (AU)</p>
      </a>
      <a class="dropdown-item">
        <p>18:44&nbsp;Newcastle (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>18:53&nbsp;Romford (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>18:56&nbsp;Oxford (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>19:01&nbsp;Monmore (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>19:11&nbsp;Romford (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>19:14&nbsp;Oxford (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>19:19&nbsp;Monmore (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>19:31&nbsp;Romford (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>19:33&nbsp;Oxford (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>19:39&nbsp;Monmore (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>19:49&nbsp;Romford (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>19:52&nbsp;Oxford (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>19:57&nbsp;Monmore (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>20:08&nbsp;Romford (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>20:11&nbsp;Oxford (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>20:17&nbsp;Monmore (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>20:27&nbsp;Romford (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>20:29&nbsp;Oxford (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>20:34&nbsp;Monmore (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>20:46&nbsp;Romford (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>20:48&nbsp;Oxford (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>20:54&nbsp;Monmore (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>21:04&nbsp;Romford (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>21:07&nbsp;Oxford (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>21:12&nbsp;Monmore (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>21:23&nbsp;Romford (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>21:26&nbsp;Oxford (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>21:31&nbsp;Monmore (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>21:42&nbsp;Romford (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>21:44&nbsp;Oxford (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>21:49&nbsp;Monmore (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>21:59&nbsp;Oxford (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>22:01&nbsp;Romford (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>22:07&nbsp;Monmore (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>22:16&nbsp;Oxford (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>22:19&nbsp;Romford (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>22:27&nbsp;Monmore (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>22:29&nbsp;Oxford (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>22:34&nbsp;Doncaster (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>22:38&nbsp;Swindon (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>22:44&nbsp;Central Park (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>22:51&nbsp;Doncaster (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>22:56&nbsp;Swindon (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>23:01&nbsp;Central Park (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>23:07&nbsp;Sunderland (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>23:09&nbsp;Doncaster (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>23:12&nbsp;Swindon (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>23:18&nbsp;Central Park (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>23:23&nbsp;Sunderland (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>23:26&nbsp;Doncaster (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>23:29&nbsp;Swindon (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>23:36&nbsp;Central Park (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>23:41&nbsp;Sunderland (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>23:44&nbsp;Doncaster (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>23:46&nbsp;Swindon (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>23:52&nbsp;Central Park (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>23:57&nbsp;Sunderland (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>01:01&nbsp;Central Park (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>01:06&nbsp;Sunderland (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>01:11&nbsp;Swindon (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>01:13&nbsp;Doncaster (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>01:17&nbsp;Central Park (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>01:24&nbsp;Sunderland (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>01:29&nbsp;Swindon (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>01:34&nbsp;Central Park (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>01:41&nbsp;Sunderland (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>01:53&nbsp;Central Park (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>01:58&nbsp;Sunderland (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>02:16&nbsp;Sunderland (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>00:01&nbsp;Doncaster (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>00:03&nbsp;Swindon (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>00:09&nbsp;Central Park (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>00:14&nbsp;Sunderland (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>00:19&nbsp;Swindon (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>00:21&nbsp;Doncaster (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>00:26&nbsp;Central Park (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>00:31&nbsp;Sunderland (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>00:37&nbsp;Swindon (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>00:39&nbsp;Doncaster (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>00:43&nbsp;Central Park (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>00:49&nbsp;Sunderland (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>00:54&nbsp;Swindon (GB)</p>
      </a>
      <a class="dropdown-item">
        <p>00:56&nbsp;Doncaster (GB)</p>
      </a>
    </div>
  </div>
</div>

<div data-toggle="collapse" data-target=".casino" class="sidebar-title" aria-expanded="true">
  <h5 class="d-inline-block m-b-0">Others</h5>
</div>
<nav class="casino sidebarmenus collapse show">
  <ul>
    <li class="nav-item" [routerLink]="['/ourcasino']"><a href="javascript:void(0)" class="nav-link"><span
          class="new-launch-text">Our
          Casino</span></a></li>
    <li class="nav-item" [routerLink]="['/ourvipcasino']"><a href="javascript:void(0)" class="nav-link"><span
          class="new-launch-text">Our
          VIP Casino</span></a></li>
          <li class="nav-item" [routerLink]="['/ourpremiumcasino']"><a href="javascript:void(0)" class="nav-link"><span
          class="new-launch-text">Our
          Premium Casino</span></a></li>
    <li class="nav-item" [routerLink]="['/ourvirtual']"><a href="javascript:void(0)" class="nav-link"><span
          class="new-launch-text">Our
          Virtual</span></a></li>
          <li class="nav-item" [routerLink]="['/tembo']"><a href="javascript:void(0)" class="nav-link"><span>Tembo</span></a></li>
    <li class="nav-item" [routerLink]="['/livecasino']"><a href="javascript:void(0)" class="nav-link"><span>Live
          Casino</span></a></li>
    <li class="nav-item" [routerLink]="['/slotgame']"><a href="javascript:void(0)" class="nav-link"><span>Slot
          Game</span></a></li>
    <li class="nav-item" [routerLink]="['/fantasy-list']"><a href="javascript:void(0)" class="nav-link"><span>Fantasy
          Game</span></a></li>
    <!-- <li class="nav-item" (click)="openCasino('','90100','race_20_20');"><a href="javascript:void(0)"
        class="nav-link"><span>Race 20-20</span></a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link"><span>Casino Queen</span></a></li>
    <li class="nav-item" (click)="openCasino('','98790','dragon_tiger');"><a href="javascript:void(0)"
        class="nav-link"><span>Dragon Tiger</span></a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link"><span>Sports Casino</span></a></li>
    <li class="nav-item" (click)="openCasino('','87564','andar_bahar')"><a href="javascript:void(0)"
        class="nav-link"><span>Andar Bahar</span></a></li>
    <li class="nav-item" (click)="openCasino('','67570','bollywood_casino')"><a href="javascript:void(0)"
        class="nav-link"><span>Bollywood Casino</span></a></li>
    <li class="nav-item" (click)="openCasino('','67580','casino_war')"><a href="javascript:void(0)"
        class="nav-link"><span>Casino War</span></a></li>
    <li class="nav-item" (click)="openCasino('','92037','worli')"><a href="javascript:void(0)"
        class="nav-link"><span>Worli</span></a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link"><span>Lottery</span></a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link"><span>3 Cards Judgement</span></a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link"><span>Binary</span></a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link"><span>Virtual Sports</span></a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link"><span>Cricket Casino</span></a></li> -->
  </ul>
</nav>


<div data-toggle="collapse" data-target=".eventsidebar" class="sidebar-title" aria-expanded="true">
  <h5 class="d-inline-block m-b-0">All Sports</h5>
</div>


<div id="events" class="mtree-main  eventsidebar collapse show">
  <div class="ps">
    <nav>
      <ul class="mtree transit bubba">
        <li class="mtree-node item">
          <div class="text-dark">
            <span>
              <i class="far fa-plus-square"></i>
            </span> Football
          </div>
          <ul class="mtree-level-1" style="display: none;">
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> AFRICA Africa Cup of Nations - Qualification
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> ARGENTINA Copa Argentina
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> ARGENTINA Primera Nacional
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> ARGENTINA Youth League
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> AUSTRALIA Northern NSW - Premier League Women
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> AUSTRALIA Capital Territory NPL2
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> AUSTRALIA New South Wales Cup
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> AUSTRALIA New South Wales NPL Women
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> AUSTRALIA NPL Queensland Women
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> AUSTRALIA NPL Queensland U23
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> AUSTRALIA NPL Victoria
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> AUSTRALIA WA Premier League Women
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> AUSTRIA Salzburg
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> BRAZIL Gaucho Women
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> BRAZIL Serie B
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> CHINA Jia League
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> CHINA Yi League
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> COLOMBIA Primera A
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> COSTA RICA Primera Division
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> CROATIA Prva NL
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> CZECH REPUBLIC Division F
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> CZECH REPUBLIC MSFL
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> ECUADOR Liga Pro
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> ENGLAND Womens Championship
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> EUROPE Euro - Qualification
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> GERMANY Oberliga
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> INDONESIA Liga 2
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> ITALY Serie C
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> JAPAN Football League
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> JAPAN J2 League
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> JAPAN J3 League
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> JAPAN Regional League
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> JAPAN WE League Cup Women
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> JAPAN YBC Levain Cup - Play Offs
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> MEXICO Liga de Expansion MX
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> NORTH &amp; CENTRAL AMERICA CONCACAF Nations League
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> PERU LIGA 1
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> PERU Reserve League
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> POLAND III Liga
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> ROMANIA Liga 1
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> SERBIA Prva Liga
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> SOUTH AFRICA Diski Challenge
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> SOUTH KOREA K3 League
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> SOUTH KOREA K4 League
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> SPAIN LaLiga2
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> SPAIN Primera Federacion Women
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> SPAIN Primera RFEF
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> SPAIN Segunda RFEF
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> SPAIN Tercera RFEF
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> SWEDEN Division 2
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> THAILAND League Cup
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> USA MLS
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> USA USL Championship
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> WORLD Friendly International
              </div>

            </li>
          </ul>
        </li>
      </ul>
      <ul class="mtree transit bubba">
        <li class="mtree-node item">
          <div class="text-dark">
            <span>
              <i class="far fa-plus-square"></i>
            </span> Tennis
          </div>
          <ul class="mtree-level-1" style="display: none;">
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> ATP - SINGLES US OPEN (USA)
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> ATP - SINGLES US OPEN (USA) - FINAL
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> CHALLENGER MEN - SINGLES GENOVA (ITALY) - FINAL
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> CHALLENGER MEN - SINGLES CASSIS (FRANCE) - FINAL
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> CHALLENGER MEN - SINGLES Guangzhou (China)
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> CHALLENGER MEN - SINGLES ISTANBUL (TURKEY) - FINAL
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> CHALLENGER MEN - SINGLES Rennes (France)
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> CHALLENGER MEN - SINGLES SHANGHAI (CHINA)
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> CHALLENGER MEN - SINGLES SHANGHAI (CHINA) - FINAL
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> CHALLENGER MEN - SINGLES Szczecin (Poland)
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> CHALLENGER MEN - SINGLES TULLN (AUSTRIA) - FINAL
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> CHALLENGER WOMEN - SINGLES BARI (ITALY) - FINAL
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> CHALLENGER WOMEN - SINGLES Bucharest (Romania)
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> Hopman Cup 2023
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> US Open Men 2023
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> UTR PRO TENNIS SERIES LOS ANGELES WOMEN
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> UTR PRO TENNIS SERIES SOFIA
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> UTR PRO TENNIS SERIES SOFIA WOMEN
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> UTR PRO TENNIS SERIES WINSTON-SALEM
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> WTA - DOUBLES US OPEN (USA) - FINAL
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> WTA - SINGLES Osaka (Japan)
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> Zhangjiagang Challenger 2023
              </div>

            </li>
          </ul>
        </li>
      </ul>
      <ul class="mtree transit bubba">
        <li class="mtree-node item">
          <div class="text-dark">
            <span>
              <i class="far fa-plus-square"></i>
            </span> Cricket
          </div>
          <ul class="mtree-level-1" style="display: none;">
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> Asia Cup
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> Australia Under-19s tour of England
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> Caribbean Premier League
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> County Championship Division 1
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> One Day Internationals
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> Rachael Heyhoe Flint Trophy
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> Sat7e Pe Sat7a Indoor Cricket T10&nbsp;League
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> T10 XI
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> T5 XI
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> Virtual Cricket League
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> Women's Caribbean Premier League
              </div>

            </li>
          </ul>
        </li>
      </ul>
      <ul class="mtree transit bubba">
        <li class="mtree-node item">
          <div class="text-dark">
            <span>
              <i class="far fa-plus-square"></i>
            </span> Ice Hockey
          </div>
          <ul class="mtree-level-1" style="display: none;">
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> DENMARK Metal Ligaen
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> EUROPE Champions League
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> KAZAKHSTAN Championship
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> POLAND Polish Hockey League
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> SLOVAKIA Slovakia Cup
              </div>

            </li>
          </ul>
        </li>
      </ul>
      <ul class="mtree transit bubba">
        <li class="mtree-node item">
          <div class="text-dark">
            <span>
              <i class="far fa-plus-square"></i>
            </span> Volleyball
          </div>

        </li>
      </ul>
      <ul class="mtree transit bubba">
        <li class="mtree-node item">
          <div class="text-dark">
            <span>
              <i class="far fa-plus-square"></i>
            </span> Politics
          </div>
          <!-- <ul class="mtree-level-1">
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-minus-square"></i>
                </span> Assembly Election 2023
              </div>

            </li>
          </ul> -->
        </li>
      </ul>
      <!-- <ul class="mtree transit bubba">
        <li class="mtree-node item">
          <div class="text-dark">
            <span>
              <i class="far fa-minus-square"></i>
            </span> Basketball
          </div>
          <ul class="mtree-level-1">
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-minus-square"></i>
                </span> BRAZIL Campeonato Paulista U20 W
              </div>
              <ul class="mtree-level-1">
                <li class="mtree-node text-dark">
                  <div class="text-dark">
                    <span>
                      <i class="far fa-minus-square"></i>
                    </span> 2023/09/10
                  </div>
                  <ul class="mtree-level-1">
                    <li class="mtree-node text-dark">
                      <div class="text-dark">
                        <span>
                          <i class="fas fa-caret-right"></i>
                        </span> Ar Praia Grande W U20 - Sesi/araraquara W U20
                      </div>
                      <ul class="mtree-level-1" style=""></ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> BRAZIL Paulista 1 Division
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> CUBA TNA
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> CUBA TNA Cup Women
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> FIBA World Cup 2023
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> NEW ZEALAND Tauihi Women
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> SENEGAL Division 1
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> UGANDA National Basketball League
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> UGANDA NBL Women
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> WORLD WORLD CUP - FINAL
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> WORLD Club Friendly
              </div>

            </li>
            <li class="mtree-node text-dark">
              <div class="text-dark">
                <span>
                  <i class="far fa-plus-square"></i>
                </span> WORLD WORLD CUP - 3RD PLACE
              </div>

            </li>
          </ul>
        </li>
      </ul> -->
      <ul class="mtree transit bubba">
        <li class="mtree-node item">
          <div class="text-dark">
            <span>
              <i class="far fa-plus-square"></i>
            </span> Table Tennis
          </div>

        </li>
      </ul>
      <ul class="mtree transit bubba">
        <li class="mtree-node item">
          <div class="text-dark">
            <span>
              <i class="far fa-plus-square"></i>
            </span> Darts
          </div>

        </li>
      </ul>
      <ul class="mtree transit bubba">
        <li class="mtree-node item">
          <div class="text-dark">
            <span>
              <i class="far fa-plus-square"></i>
            </span> Badminton
          </div>

        </li>
      </ul>
      <ul class="mtree transit bubba">
        <li class="mtree-node item">
          <div class="text-dark">
            <span>
              <i class="far fa-plus-square"></i>
            </span> Kabaddi
          </div>

        </li>
      </ul>
      <ul class="mtree transit bubba">
        <li class="mtree-node item">
          <div class="text-dark">
            <span>
              <i class="far fa-plus-square"></i>
            </span> Boxing
          </div>

        </li>
      </ul>
      <ul class="mtree transit bubba">
        <li class="mtree-node item">
          <div class="text-dark">
            <span>
              <i class="far fa-plus-square"></i>
            </span> Mixed Martial Arts
          </div>

        </li>
      </ul>
      <ul class="mtree transit bubba">
        <li class="mtree-node item">
          <div class="text-dark">
            <span>
              <i class="far fa-plus-square"></i>
            </span> Motor Sport
          </div>

        </li>
      </ul>
      <ul class="mtree transit bubba">
        <li class="mtree-node item">
          <div class="text-dark">
            <span>
              <i class="far fa-plus-square"></i>
            </span> Boat Racing
          </div>

        </li>
      </ul>
    </nav>
  </div>
</div>

