@import 'event_details';

.snybetting-design 
{
    margin-top: 34px;
}

.input-group
{
    .numbers {display: flex;
        align-items: center;}
             .numbers .minus,
      .numbers .plus{  height: 29px;
            width: 40px;
            line-height: 29px;
            padding: 0;
            float: left;
            border-radius: 0;
            color: #fff;
            background: #2c3e50;
            font-size: 18px; 
            font-weight: 600;
            cursor: pointer;
        }
}

.bg-color{
    background-color:#697682;
}
.icon-edit{
    // float:right;
    font-size:20px;
    cursor: pointer;
}

