<app-header *ngIf="statusValue==0"></app-header>

<main *ngIf="statusValue==0">
    <div class="password-container-form">
      <div class="reset-page customreport-page">
        <div class="inner-content">
            <div class="page-title bg-light">
                <h3 class="pagetitleheading"style=" color: #000;">Change Password</h3>
                
            </div>


            <div class="change-password-main">

              <div class="change-password-form">
      
                <form [formGroup]='changePasswordForm' (ngSubmit)='updatePasswd(alert_message)'>
               
                  <div class="row">
                    <div class="col-4"> <div class="form-group">
                      <label>New Password</label>
                      <input type="password" placeholder="" class="form-control password-box"
                        formControlName='new_password'>
                        <!-- <span *ngIf="changePasswordForm.new_password.invalid">ddddd</span> -->
                    </div></div>
                  </div>
                  <div class="row">
                    <div class="col-4"> <div class="form-group">
                      <label>Confirm Password</label>
                      <input type="password" placeholder="" class="form-control password-box"
                        formControlName='confirm_password'>
                    </div></div>
                  </div>
                  <div class="row">
                    <div class="col-4"> <div class="form-group">
                      <label>Transaction Password</label>
                      <input type="password" placeholder="" class="form-control password-box"
                        formControlName='trans_password'>
                    </div></div>
                  </div>
                  <div class="row">
                    <div class="col-4"><button type="submit" class="btn btn-primary btn-margin">Load</button></div>
                  </div>
                 
                  
                </form>
      
              </div>
      
            </div>

            </div>
            </div>
     


    </div>
  

</main>



<!-- Modal -->
<div class="modal-body" *ngIf="statusValue==1">
  <div class="conaniner">
    <h1 style="color: #44DF62;">Success!your password has been update successfully.</h1>
    <h2>Your transaction password is <span style="color:rgb(0, 183, 255) ;">{{gen_trans_pass}}</span>.</h2>
    <p>please remember this transaction password.form now on all transcation of the website can be done only<br>
        with this password and keep one thing in mind, do not share this password with anyone.</p>
    <h4>Thank you,Team <span>{{hostname |uppercase}}</span>.com</h4>
    <br>
    <h2 style="color: #44DF62;">Success!आपका पासवर्ड बदला जा चुका है</h2>
    <h2>आपका लेनदेन पासवर्ड<span class="number" style="color:rgb(0, 183, 255) ;">{{gen_trans_pass}}</span>है।</h2>

    <p>कृपया इस लेन-देन पासवर्ड को याद रखें, अब सभी वेबसाइट पर केवल इसी पासवर्ड से ट्रांसेक्शन किया जा सकता है<br>
        और एक
        बात का ध्यान रखें कि इस पासवर्ड को किसी के साथ साझा न करें।</p>
    <h4>धन्यवाद, टीम <span>{{hostname |uppercase}}</span>.com</h4>
    <button (click)="back_location();" data-bs-dismiss="modal">Back</button>
</div>




