

.password-box {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  height:33px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.customreport-page {
  background-color: #f9f9f9;
  padding: 8px;
  margin: 0 10px;
}
.customreport-page .row{margin: 0 -15px;}
.customreport-page .row .col-4{padding: 0 15px;}
.change-password-section {
  margin-left: 221px;
}
.customreport-page .page-title{margin-top: 10px;}
.customreport-page  .form-group {
  margin-bottom: 12px;
}
.change-password-form{padding: 0 25px;}
.change-password-form  label
{  margin-bottom: 4px;
}

.btn-margin{
  margin-top: 25px;
}

.red-message {
  color: red;
}

// modelCss
.conaniner {
  text-align: center;
  font-family: sans-serif;
  padding-top: 50px;
  button {
    color: white;
    background-color: rgb(49, 45, 45);
    border-radius: 6%;
    /* padding: 1px 34px 1px 19px; */
    font-size: 16px;
    width: 14%;
    line-height: 44px;
    border: none;
  }
  h1 {
    font-size: 27px;
  }
  button img {
    position: relative;
    top: 4px;
    font-size: 13px;
    right: 20px;
    width: 18px;
  }
  
  .number {
    margin-left: 10px;
    margin-right: 10px;
  
  }
  
  h4 {
    font-family: sans-serif;
    color: rgb(80, 80, 80);
    font-size: 14px;
  }


}
