.form-field .col-inner .form-group {
    padding-right: 10px;
    margin-bottom: 5px;
}
.btn-list {
    .btn-success {
        margin-right: 10px;
    }
}
.filter-btn{
    padding-bottom: 10px;
}
.user-list-pagination {
    float: right;
   
}

.select-option{
    color: #000 !important;
  }
